body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#donorForm,
#donorList,
#receiverSection {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
}

input {
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    padding: 0.5em;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
}

button:hover {
    background-color: #555;
}

#donorInfoList,
#matchedDonorInfoList {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}
